asgiref
attrs==20.3.0
autobahn==20.12.3
Automat==20.2.0
certifi==2020.12.5
cffi==1.14.4
channels==3.0.3
chardet==4.0.0
constantly==15.1.0
cryptography==3.3.1
daphne==3.0.1
Django
django-cors-headers==3.7.0
django-redis==4.12.1
django-sslserver==0.22
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
hyperlink==21.0.0
idna==2.10
incremental==17.5.0
jwcrypto==0.8
psycopg2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
PyJWT==1.7.1
pyOpenSSL==20.0.1
python-jwt==3.3.0
pytz
redis==3.5.3
requests==2.25.1
service-identity==18.1.0
six==1.15.0
sqlparse
Twisted==20.3.0
txaio==20.12.1
urllib3==1.26.3
zope.interface==5.2.0
mysqlclient